body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  margin: 0;
}

.main-container {
  min-width: 1080px;
  background: #fff;

  /* box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1); */

  display: flex;
  flex-direction: row-reverse;
  /* width: 1120px; */
  /* background-color: white; */
  /* margin: 40px auto; */
  /* height: 1400px; */
  width: 100vw;
}

.main-container-section {
  display: flex;
  flex-direction: column;
}

.main-container-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-bottom: 10px;
}

/*  About me section */
.about-me-section {
  margin: 0 0 40px 0;
}
/* Main content section */

.main-container-section {
  padding: 50px 90px 100px 80px;
}
.about-me-profession {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #000;
  margin: 0 0 20 0;
}
.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin: 0 0 25 0;
}
.about-me-description {
  /* width: 500px; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin: 0;
}

/* My project section */

.my-prodject-section {
  margin: 0 0 40px 0;
}
.main-container-title {
  margin: 0 0 20px 0;
}

.project-color-title-orange {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin: 10px 0 10px 0;
}

.projects_link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #2e2d2d;
}
.my-prodject-item {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin: 0 0 10px 0;
}

.my-prodject-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-prodject-brecket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.my-prodject-code-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #2e2d2d;
  margin: 0 0 10px 0;
}

.my-prodject-work-list {
  padding: 0 0 0 18px;
  margin: 10px 0 0 0;
}
.my-prodject-work-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #2e2d2d;
}

/* my work experience */

.my-work-experience-section {
  margin: 0 0 40px 0;
}
.main-container-title {
  margin: 0 0 20px 0;
}
.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin: 0 0 10px 0;
}
.my-work-experience-time {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0;
  margin-bottom: 5px;
}

.my-work-experience-divider {
  color: #000;
}
.my-work-experience-dyties {
  padding: 0 0 0 18px;
  margin: 0;
  /* margin-bottom: 10px; */
}
/* .my-work-experience-dyties:nth-child(2){

} */
.my-work-expireence-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin: 0;
  margin-bottom: 10px;
}
.my-work-experience-company-3 {
  margin: 0 15px 0 0;
}
.my-work-experience-company {
  color: #fb6d3a;
}

/* My education */

.my-education-section {
  width: 327px;
  height: 114px;
  left: 498px;
  top: 1138px;
}
.my-education-place {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin: 0;
  margin-bottom: 5px;
}
.my-education-profession {
  margin: 0;
  /* padding: 12px 0 5px 0; */
}

.my-work-experience-time {
  margin: 0;
  color: #000;
  margin-bottom: 15px;
}
/* Sidebar section */
.sidebar-section {
  background: #1e2939;
  width: 370px;
  padding: 40px;
  /* height: 1460px; */
}

.contacts-section,
.tech-skills-section,
.soft-skll-section {
  margin: 50px 0 0 40px;
}

.contact-information {
  margin: 17px 0 0 40px;
}

.sidebar-title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
}

/* Contact section */

.contact-section-type {
  margin: 0;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 5px;
  text-decoration: none;
}

.contact-section-linc {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #a8a8a8;
}

/* Tech skills section */

.tech-skills-list {
  padding: 0 0 0 17px;
}

.tech-skills-items {
  color: #fb6d3a;
}

.tech-skills-items-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

/* Soft skill sektion */

.soft-skilla-list {
  padding: 0 0 0 17px;
}

.soft-skills-item {
  color: #fb6d3a;
}

.soft-skills-items-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

/* my work expirence */
